<div class=" px-8">
    <h1>CHOOSE INVOICE CODE</h1>
    <div class="card">
        <p-table [value]="invoices" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Invoice Code</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-a>
                <tr>
                    <!-- <td>{{i+1}}</td> -->
                    <td>{{a.invoiceCode}}</td>
                    <td class="">
                        <a routerLink="/assets/create/{{a.invoiceCode}}" class="p-button-warning me-3" pButton style="text-decoration: none;">CREATE ASSET</a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <a routerLink="/assets" class="p-button-secondary me-3" pButton style="text-decoration: none;">BACK</a>
</div>