<div class=" px-8">
    <h1>PROFILE</h1>
    <form action="">
        <div class="grid align-items-center gy-3 my-3">
            <div class="col-12 md:col-2">
                <label for="fullname">Full Name</label>
            </div>
            <div class="col-12 md:col-10">
                <h3>{{profile.profileName}}</h3>
            </div>
            <div class="col-12 md:col-2">
                <label for="address">Address</label>
            </div>
            <div class="col-12 md:col-10">
                <h3>{{profile.profileAdderss}}</h3>
            </div>
            <div class="col-12 md:col-2">
                <label for="role">Role</label>
            </div>
            <div class="col-12 md:col-10">
                <h3>{{profile.roleName}}</h3>
            </div>
            <div class="col-12 md:col-2">
                <label for="photo">Photo</label>
            </div>
            <div class="col-12 md:col-10">
                <img src="{{profile.photoId | url}}" alt="" style="width: 20rem; height: 20rem; border-radius: 100%; cursor: pointer;">
            </div>
        </div>
        <a routerLink="/dashboard" class="p-button-secondary mr-3" pButton style="text-decoration: none;">BACK</a>
        <a routerLink="/users/update" class="p-button-warning" pButton style="text-decoration: none;">UPDATE</a>
    </form>
</div>