<pre>{{passData.value | json}}</pre>
<div class="px-8">
    <h1>CHANGE PASSWORD</h1>
    <form [formGroup]="passData" (ngSubmit)="onSubmit()">
        <div class="grid align-items-center gy-3 my-3 ">
            <div class="col-12 md:col-3">
                <label for="oldPass">Old Password</label>
            </div>
            <div class="col-12 md:col-9">
                <input type="password" class="w-full" id="oldPass" placeholder="Insert Old Password" pInputText
                    formControlName="oldPassword" />
            </div>
            <div class="col-12 md:col-3">
                <label for="newPass">New Password</label>
            </div>
            <div class="col-12 md:col-9">
                <input type="password" class="w-full" id="newPass" placeholder="Insert New Password" pInputText
                    formControlName="newPassword" />
            </div>
            <div class="col-12 md:col-3">
                <label for="newNewPass">Confirm New Password</label>
            </div>
            <div class="col-12 md:col-9">
                <input type="password" class="w-full" id="newNewPass" placeholder="Confirm New Password" pInputText
                    formControlName="confirmPassword" (keyup)="checkMatch()" />
            </div>
        </div>
        <app-button type="submit" label="Submit" [loading]="loading" [disabled]="disable"></app-button>
        <!-- <button type="submit" pButton class="p-button-warning" [disabled]="disable">SUBMIT</button> -->
    </form>
</div>